.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgba(0, 0, 0, .8);
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
}

.App-header p{
  font-family:Arial, Helvetica, sans-serif;
  color: black;
  font-size: 20px;
}
.App-header i{
  color: red;
}

.App-link {
  color: #09d3ac;
}
button{
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  padding: 15px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  outline: none;
}
button:hover{
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}